:80 {
    root * /app/public
    try_files {path} /index.php?{query}
    php_fastcgi app:9000
    encode gzip zstd
    file_server
}

:443 {
    root * /app/public
    try_files {path} /index.php?{query}
    php_fastcgi app:9000
    encode gzip zstd
    file_server
}